<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/css/externalstyle.css">   
<style>

	
</style>
</head>
<body>
	<div id="headerBOXabsolute">
		
		<div id="headerBOXrelative">
			headerBOX
			<div id="particles-js"></div>
			
			<div id="navbar">
				navbar
			</div>
		</div>
	</div>
	
	<div id="contentContainerausen">

		<div id="contentContainer">
			<p>Hier der <b>Content</b></span> </p>
					
			<div id="aside">
				<p>Hier der <b>aside</b></span> </p>
			</div>
			
			<div id="article">
				<p>Hier der <b>article</b></span> </p>
			</div>
			
			<div class="clear-float"></div>
			
			
		</div>
		
		<div id="sectionNavigaion">
			<p>Hier die <b>sectionNavigation</b></span> </p>
		</div>

		<div id="footer">
			<p >Hier der <b>Footer</b></p>
		</div>	
	</div>	

<script>
// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    document.getElementById("headerBOXabsolute").style.height = "15%";
	document.getElementById("particles-js").style.height = "11%";
	document.getElementById("aside").style.width = "15%";
	document.getElementById("article").style.width = "82%";
	document.getElementById("contentContainerausen").style.margintop = "-10%";
	
  } else {
    document.getElementById("headerBOXabsolute").style.height = "40%";
	document.getElementById("particles-js").style.height = "21%";
	document.getElementById("aside").style.width = "17%";
	document.getElementById("article").style.width = "79%";
	
	
  }
}
</script>

<script src="./static/js/particles.min.js"></script>
<script src="./static/js/particles.js"></script>

</body>
</html>
