.menu {
    display: block;

    /* The z-index of the photo overlay is 1500, so make sure this is less! */
    z-index: 1000;

    margin: 0;
    padding: 0;
}
@media (min-width: 800px) {
    .menu {
        margin-top: 20px;
    }
}

.menu li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    /* width: 180px; */
}

.menu li.dropdown:hover > .submenu {
    display: block;
}

.menu li a {
    display: flex;

    /* This sets the width of the main menu */
    width: 20vw;

    /* Below padding controls spacing of adjacent menu elements */
    padding: 1.5vw 8px; 
    /* padding: 12px; */
    background: rgb(34, 34, 34);
    color: #fff;
    text-decoration: none;
}
@media (min-width: 800px) {
    .menu li a {
        width: 184px; /* Make sure that this number + 2x horizontal padding below = 200px */
        padding: 12px 8px; 
    }
}

.menu .menu-text {
    width: 165px;
    color: #fff;
    line-height: 1.0;
    font-size: 2.7vw;

    /* Center the text vertically */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
@media (min-width: 800px) {
    .menu .menu-text {
        font-size: 0.9rem;
    }
}

/* Hide the arrows on mobile, as we don't show the submenus either 
(it's hard to hover on a mobile device) */
.menu .right-arrow {
    color: #fff;
    /* line-height: 1.0; */
    font-size: 2vw;
    display: none;
}
@media (min-width: 800px) {
    .menu .right-arrow {
        font-size: 0.7rem;
        display: block;
    }
}

.menu li a:hover {
    background: grey;
    text-decoration: underline;
}

.menu .submenu {
    display: none;
    top: 0px; /* This brings the sub-menu vertically in-line with the menu */
}

.submenu .menu-text {
    color: rgb(85, 85, 85);
}

.submenu {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 200px;
    list-style-type: none;
    display: block;
    width: 200px;
    z-index: 9;
}

/* Hide the submenu if on mobile, only show when on desktop,
as you cannot easily hover on touch screen */
.submenu li {
    display: none;
    margin: 0;
}
@media (min-width: 800px) {
    .submenu li {
        display: block;
    }
}

.submenu li a {
    display: flex;
    background: rgb(241, 241, 241);
    color: rgb(34, 34, 34);
    /* padding: 8px 6px; */
    /* padding: 0px; */
    /* margin-bottom: 1px; */
}

.submenu .right-arrow {
    color: rgb(34, 34, 34);
    line-height: 1.0;
    font-size: 0.7rem;
}

.menu .submenu > li.dropdown:hover > .submenu {
    display: block;
}

.menu .submenu .submenu {
    position: absolute;
    left: 200px;
    top: 0px;
}
